<cyber>
    <module>
        <name>slam</name>
        <dag_conf></dag_conf>
        <type>binary</type>
        <process_name>
            openbot.application.slam_main --flagfile=openbot/system/slam/conf/slam.conf
        </process_name>
        <exception_handler>respawn</exception_handler>
    </module>
</cyber>